nmresearch/crystal/__pycache__
nmresearch/fermion/__pycache__
nmresearch/interface/__pycache__
nmresearch/lanczos/__pycache__
nmresearch/percolation/__pycache__
nmresearch/__pycache__
mit_phd_awstasiuk.egg-info
.vscode